.applicationStatusBox {
  padding: 1rem 1rem;
  border: 1px solid #c5c7ce;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  transition: 0.3s all;
  .leftContainer {
    flex-basis: 7%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #d4d4d4;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightContainer {
    flex-basis: 97%;
    .heading {
      margin: 0;
      margin-bottom: 10px;
    }
    .subHeading {
      margin: 0;
      color: #999999;
      font-weight: 100;
      // margin-bottom: 4px;
    }
    .status {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin: 0.4rem 0;
      .statusSignal {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
  .applicationStatusSubBox {
    margin: 0.5rem 0;
    border: 1px solid red;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    border: 2px solid #0c7134;
    background-color: #e0f9ea;
    h2 {
      margin: 0;
    }
  }
  .interviewScheduleContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
      border-radius: 10px;
    }
    :global(.ant-select) {
      width: 30%;
    }
    input {
      width: 30%;
      border-radius: 10px;
      padding: 3px;
      border: 1px solid #b6b6b6;
    }
    h2 {
      margin: 0;
    }
    button {
      width: 10%;
      border-radius: 6px;
      border: none;
      background-color: #3d86ff;
      padding: 0.3rem;
      cursor: pointer;
      h3 {
        margin: 0;
      }
    }
  }
  .applicationStatusBox:hover {
    box-shadow: 0 0 4px 0 #3d86ff;
  }
}
