.applicationStatusBox {
  padding: 1rem 1rem;
  border: 1px solid #c5c7ce;
  border-radius: 8px;
  display: flex;
  gap: 16px;
  cursor: pointer;
  transition: 0.3s all;
  .leftContainer {
    flex-basis: 7%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #d4d4d4;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightContainer {
    flex-basis: 97%;
    .heading {
      margin: 0;
      margin-bottom: 10px;
    }
    .subHeading {
      margin: 0;
      color: #999999;
      font-weight: 100;
      // margin-bottom: 4px;
    }
    .status {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      margin: 0.4rem 0;
      .statusSignal {
        width: 8px;
        height: 8px;
        border-radius: 50%;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
  }
}
.applicationStatusBox:hover {
  box-shadow: 0 0 4px 0 #3d86ff;
}
